<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOGYVxs9Vj1eXUxdSftUIjtdCh7tg3Nw0</string>
	<key>GCM_SENDER_ID</key>
	<string>187561670094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakura9625.divingprepapp</string>
	<key>PROJECT_ID</key>
	<string>mogunchu-triplist</string>
	<key>STORAGE_BUCKET</key>
	<string>mogunchu-triplist.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187561670094:ios:4dffc26ef5b8a24047a79f</string>
</dict>
</plist>